<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="An experiment in creating 3D environments using CSS and HTML and JavaScript.">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>A 3D engine built using HTML and CSS3 transforms by Keith Clark</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div id="credits">
        <p>
            A 3D environment with lighting, shadows and collisions. Built with HTML5 and CSS 3D transforms. A <a href="http://www.keithclark.co.uk/labs/">Keith Clark</a> experiment
        </p>
    </div>
    <div id="loading">
        <h3 id="no-javascript">No JavaScript?</h3>
        You can still try the <a href="http://www.keithclark.co.uk/labs/css3-fps/tests/no-js/">pure CSS rolling demo</a>
    </div>
    <div id="instructions" class="hide">
        <div class="panel" id="look">
            <h2 id="look-with">Look with</h2>
            <img src="../mouse.png" height="75%" alt="mouse">
        </div>
        <div class="panel" id="move">
            <h2 id="move-with">Move with</h2>
            <kbd>W</kbd>
            <kbd>A</kbd>
            <kbd>S</kbd>
            <kbd>D</kbd>
        </div>
        <div class="panel" id="jump">
            <h2 id="jump-with">Jump with</h2>
            <kbd>Space</kbd>
        </div>
    </div>
    <div id="viewport" class="hide">
        <div id="explosion"></div>
        <div id="gun"></div>
    </div>
    <script>
        document.getElementById("loading").innerHTML = "Loading...";
    </script>
    <script src="/jquery.min.js"></script>
    {{#mobile}}
    <script src="/game-engine-M.js"></script>
    {{/mobile}} {{^mobile}}
    <script src="/control.js"></script>
    <script src="/game-engine.js"></script>
    {{/mobile}}
</body>

</html>
<!-- built using kc-min -->