<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="An experiment in creating 3D environments using CSS and HTML and JavaScript.">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>A 3D engine built using HTML and CSS3 transforms by Keith Clark</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/game-engine-M.js"></script>
</head>

<body>
    <div id="credits">
        <p>
            A 3D environment with lighting, shadows and collisions. Built with HTML5 and CSS 3D transforms. A <a href="http://www.keithclark.co.uk/labs/">Keith Clark</a> experiment
        </p>
    </div>
    <div id="loading">Loading...</div>
    <div id="viewport" class="hide">
        <div id="gun"></div>
    </div>
</body>

</html>
<!-- built using kc-min -->